<div class="" *ngIf="isOpen">
  <div class="modal-wrapper" (click)="onCloseModal()"></div>
  <div class="modal-content">
    <div class="modal-header">
      <h2>Create Product</h2>
      <mat-icon (click)="onCloseModal()" class="icon-close">close</mat-icon>
    </div>

    <form class="form" [formGroup]="productForm" (ngSubmit)="formSubmit()">
      <app-custom-input-field
        label="Title"
        type="text"
        placeholder="Product Title"
        [control]="getControl('title')"
      />
      <app-custom-input-field
        label="Description"
        type="text"
        placeholder="Product Description"
        [control]="getControl('description')"
      />
      <app-custom-input-field
        label="Price"
        type="text"
        placeholder="Product Price"
        [control]="getControl('price')"
      />
      <app-custom-input-field
        label="Category"
        type="text"
        placeholder="Product Category"
        [control]="getControl('category')"
      />

      <button
        type="submit"
        class="submit-btn"
        [ngClass]="{ disabled: productForm.invalid || isLoading }"
        [disabled]="productForm.invalid"
      >
        Submit
      </button>
    </form>
  </div>
</div>
