<section class="flex-container large-flex-container">
  <div class="large-image-container image-container">
    <img
      class="auth-img"
      src="../../../../assets/signUp/login.png"
      alt="sign up image"
    />
  </div>

  <div class="form-container">
    <h1 class="header">Sign In</h1>
    <form
      class="form"
      action=""
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- email Address -->
      <app-custom-input-field
        label="Email"
        type="email"
        placeholder="Enter your email"
        [control]="email"
      />

      <!-- password -->
      <app-custom-input-field
        label="Password"
        type="password"
        [control]="password"
        placeholder="Enter your password"
      />

      @if (errorMessage) {
        <div class="error">{{ errorMessage }}</div>
      }

      <button
        type="submit"
        class="submit-btn"
        [class.disabled]="loginForm.invalid"
        [disabled]="loginForm.invalid"
      >
        Log in
      </button>
      <a class="link" routerLink="/signup">Sign up?</a>
    </form>
  </div>
</section>
