<app-navbar></app-navbar>
<section class="add-to-cart-section">
  <div class="grid-view-container">
    <div>Product Details</div>
    <div>Price</div>
    <div>Quantity</div>
    <div>Shipping</div>
    <div>Subtotal</div>
    <div>Action</div>
  </div>

  <!-- Cart Products -->
  @for (product of cartProducts(); track product) {
    <div class="cart-product">
      <div class="product-details">
        <img
          class="product-image"
          src="{{ product.image }}"
          alt="{{ product.title }}"
        />
        <p class="product-title">{{ product.title }}</p>
      </div>
      <p class="product-price">$ {{ product.price }}</p>
      <div class="quantity">
          <mat-icon (click)="decrementCount(product.id)">remove</mat-icon>
        <p>{{ product.count }}</p>
          <mat-icon (click)="incrementCount(product.id)" >add</mat-icon>
      </div>
      <p >FREE</p>
      <p class="subtotal">$ {{ product.price }}</p>
        <mat-icon class="remove-button" (click)="removeProduct(product)" >close</mat-icon>
    </div>
  }

  <div class="cart-summary">
    <button class="continue-shopping" routerLink="/home" >
      Continue Shopping
    </button>

    <div class="order-summary">
      <div class="summary-details">
        <p>Sub Total</p>
        <p>{{ totalAmount() | number }}</p>
        <p>Shipping</p>
        <p>{{ 00.0 | number }}</p>
        <p class="font-bold">Grand Total</p>
        <p>{{ totalAmount() | number }}</p>
      </div>
      <button class="checkout-button" routerLink="/checkout">
        Proceed To Checkout
      </button>
    </div>
  </div>
</section>
<router-outlet></router-outlet>

<app-footer></app-footer>
