@import '../../styles';

.navbar {
  @include flex-option(flex, space-between, center, row);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem 2.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 50;
  background-color: #fff;
}

.logo-container {
  cursor: pointer;
}

.icon {
  font-size: 20px;
}

.icon-container {
  @include flex-option(null, null, null, row);
  gap: 20px;
}

.auth-button {
  background-color: #f6f6f6;
  border: none;
  border-radius: 6px;
  padding: 6px;
  position: relative;

  &:hover {
    background-color: rgba(132, 52, 225, 1);
  }
}

.auth-dropdown,
.auth-dropdown-for-user {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  &.auth-dropdown {
    top: 64px;
    right: 80px;
  }

  &.auth-dropdown-for-user {
    top: 70px;
    right: 250px;
  }
}

.auth-options {
  @include flex-option(flex, null, null, column);
  padding: 8px;
  gap: 10px;
}

.auth-option-hide {
  display: none;
}

.auth-link {
  color: #000;
  text-decoration: none;

  &:hover {
    color: rgba(132, 52, 225, 1);
    text-decoration: underline;
  }
}

.icon-gray {
  color: gray;
}

.icon-white {
  color: white;
}

button {
  cursor: pointer;
}

.cart-button {
  background-color: #f6f6f6;
  border: none;
  border-radius: 5px;
  padding: 6px;
  position: relative;

  &-color {
    background-color: rgba(132, 52, 225, 1);
  }

  &:hover {
    background-color: rgba(132, 52, 225, 1);
  }

  &-icon {
    color: white;
    font-size: 20px;
  }
}

.cart-count {
  background-color: #ff0000;
  border-radius: 50%;
  color: #fff;
  font-size: 13px;
  @include flex-option(flex, center, center, row);
  width: 25px;
  height: 25px;
  position: absolute;
  top: -15px;
  right: -15px;
}
