<section class="grid-container large-grid-container">
  <div class="large-image-container image-container">
    <img
      class="full-width"
      src="../../../../assets/signUp/sign-up.png"
      alt="sign up image"
    />
  </div>

  <div class="form-container">
    <div class="header-section">
      <h1 class="header">Sign Up</h1>
      <p>Sign up for free to access to any of our products</p>
    </div>

    <form
      class="form"
      action=""
      [formGroup]="signUpForm"
      (ngSubmit)="formAction()"
    >
      <app-custom-input-field
        label="First name"
        placeholder="Enter your first name"
        [control]="firstName"
      />
      <app-custom-input-field
        label="Last name"
        placeholder="Enter your last name"
        [control]="lastName"
      />
      <app-custom-input-field
        label="Email"
        type="email"
        placeholder="Enter your email"
        [control]="email"
      />

      <!-- password -->
      <app-custom-input-field
        label="Password"
        type="password"
        [control]="password"
        placeholder="Enter your password"
      />

      <div>
        <button
          type="submit"
          class="submit-btn"
          [ngClass]="{ disabled: signUpForm.invalid || isLoading }"
          [disabled]="signUpForm.invalid"
        >
          Sign Up
        </button>
        <p class="additional-text">
          Already have an account?
          <a class="link" routerLink="/">Log in</a>
        </p>
      </div>
    </form>
  </div>
</section>
