
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

  --primary-color: #ff4500;
  --error-color: #ff0000;
  --padding: 10px;
  --gap-small: 10px;
  --gap-large: 20px;

}
